.root {
  padding: 1em;
}

.section {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    margin: 10px 0;
  }
}

.main {
  flex: 1;
  text-align: center;
}

.main img {
  margin: auto;
}

.h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.header img {
  height: 24px;
  width: auto;
}
