:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  width: 100%;
}

ol,
ul {
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}
