/* Need a fixed nav bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: black;
  color: white;
  height: 3em;
}

.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.ul a {
  line-height: 3rem;
}

@media only screen and (max-device-width: 768px) {
  .navbar {
    height: 4rem;
    font-size: 1.5rem;
  }

  .ul a {
    line-height: 4rem;
  }
}
